@model List<Time>
<table id="TimeTable" class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            <td style="width:60px;">Id</td>
            <td>Name</td>
            <td style="width:260px;"></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var time in @Model)
        {
            <tr>
                <td>@time.TimeId</td>
                <td>@time.Name</td>
                <td>
                    @if(User.IsInRole("Owner"))
                    {
                        <form asp-controller="Admin" asp-action="TimeDelete" method="POST" style="display: inline;">
                            <input type="hidden" name="timeId", value="@time.TimeId">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    }
                    <a href="/admin/TimeEdit/@time.TimeId" class="btn btn-xs btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>