<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading"><b>You Cannot reach to this page.</b></h4>
  <p>You havent the required permissions for this page</p>
  <hr>
  <p class="mb-0">If you think there is a mistake, contact with the manager.</p>
</div>