@model AccommodationModel
@{
    Branch Branch =ViewBag.Branch;
}
@section Script{
    @* //ServerSide Validation *@
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
<div class="row ml-4">
    <form asp-controller="Admin" asp-action="AccommodationEdit" method="POST">
        <input type="hidden" name="BranchId" value="@ViewBag.Branch.BranchId">
        <input type="hidden" name="AccommodationId" value="@Model.AccommodationId">
        <div class="col-sm-6">
            <h1 class="h3">Accommodation Edit</h1> 
            <small><b>@ViewBag.Branch.Email</b></small> <br>
            <small><b>@ViewBag.Branch.Adress</b></small><hr>
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="row">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label asp-for="RoomType"></label>
                        <div class="">
                            <input class="form-control" asp-for="RoomType">
                            <span class="text-danger" asp-validation-for="RoomType"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="MealType"></label>
                        <div class="">
                            <input class="form-control" asp-for="MealType">
                            <span class="text-danger" asp-validation-for="MealType"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="FacilityType"></label>
                        <div class="">
                            <input class="form-control" asp-for="FacilityType">
                            <span class="text-danger" asp-validation-for="FacilityType"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <input class="form-check-input" type="checkbox" asp-for="Active">
                        <label for="Active" class="form-check-label">Active</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label asp-for="MinimumBooking"></label>
                        <div class="">
                            <input class="form-control" asp-for="MinimumBooking">
                            <span class="text-danger" asp-validation-for="MinimumBooking"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="PricePerWeek"></label>
                        <div class="">
                            <input class="form-control" asp-for="PricePerWeek">
                            <span class="text-danger" asp-validation-for="PricePerWeek"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="DistanceFromSchool"></label>
                        <div class="">
                            <input class="form-control" asp-for="DistanceFromSchool">
                            <span class="text-danger" asp-validation-for="DistanceFromSchool"></span>
                        </div>
                    </div> 
                </div>
                @if(User.IsInRole("Owner") || User.IsInRole("Manager"))
                {
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary col-md-3">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-6">
            
        </div>
    </form>
</div>
